@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

navbar{
    position: relative;
}

.stickyme{
    position: relative;
}

.floating-container{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}


.btnshade{
    height: 40px;
    border: 1px solid rgb(153, 139, 165);
    font-size: 10pt;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    width: 25%;
}

.btnshade:hover{
    color: white;
    background-color: rgb(107, 94, 165);
}

body::after {
    background-color: #fff;
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
    background-repeat: repeat;
  }

.justify-content-md-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.shade{
    background-color: #b7b6b9;

    background-color: #fff;
}

.container{
    font-family: 'Raleway', sans-serif;
    width: 90%;
}

.lighttext500{
    color: #aaa;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.lighttext200{
    color: rgb(80, 80, 80);
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.smalltext{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: small;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: medium;
}


.card{
    border-radius: 0;
}

.card-shadow{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

a{
    color: rgb(19, 36, 56);
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.custcarousel{
    min-height: 250px;
    max-height: 250px;
}

ul{
    list-style: none;
}

ul li.bullets::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(93, 74, 202); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}


.propic{
    filter: grayscale(90%);
    display: block;
    position: relative;
    height: auto;
    width: auto;
    margin: 0 auto;
    margin-top: -100px;
    border-radius: 50%;
    border-width: 10px;
    border: 10px solid #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 576px){
    body{
        background-color: rgb(241, 241, 241);
    }
    .md-shrink{
        font-size: 0.8em;
    }
    
    .btnshade{
        text-align: center;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 500px){
    body{
        background-color: rgb(241, 241, 241);
    }
    .btnshade{
        text-align: center;
        font-size: 0.6em;
    }

    .pdficon{
        font-size: 1em;
    }
    
}