@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
body::after {
    background-color: #fff;
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
    background-repeat: repeat;
  }

.container{
    font-family: 'Raleway', sans-serif;
    width: 80%;
}

.lighttext{
    color: #aaa;
    font-size: small;
}

.propic{
    filter: grayscale(100%);
    display: block;
    position: relative;
    height: 15rem;
    width: 16rem;
    border-radius: 50%;
    border-width: 20px;
    border: 10px solid #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);
}
